.swipeButtons {
  position: fixed;
  bottom: 10vh;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.swipeButtons .MuiIconButton-root {
  background-color: white;
  box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3) !important;
}

.swipeButtons_repeat {
  padding: 3vw im !important;
  color: #f5b748 im !important;
}
.swipeButtons_left {
  padding: 3vw im !important;
  color: #ec5e6f im !important;
}

.swipeButtons_star {
  padding: 3vw im !important;
  color: #62b4f9 im !important;
}

.swipeButtons_right {
  padding: 3vw im !important;
  color: #76e2b3 im !important;
}

.swipeButtons_lightning {
  padding: 3vw im !important;
  color: #915dd1 im !important;
}
